$blue: #99CCFF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    position: relative;

    #floor {
        display: flex;
        justify-content: space-between;
        width: 100vh;
        min-height: 100vw;
        position: absolute;
        top: 50%;
        left: -20%;
        right: 0;
        transform: translateY(-50%) rotate(90deg);

        .sections {
            width: 33%;
            display: flex;
            justify-content: space-between;

            .a_block,
            .j_block,
            .d_block,
            .g_block,
            .e_block,
            .f_block {
                width: 8%;

                svg {
                    width: 100%;
                    height: fit-content;
                }

                h4 {
                    font-size: 3vh;
                    text-align: center;
                }
            }

            .f_block {
                svg {
                    rect {
                        fill: #33FF33
                    }
                }
            }

            .j_block {
                svg {
                    rect {
                        fill: #FFDA00;
                    }
                }
            }

            .e_block,
            .f_block {
                margin-top: 5rem;
            }

            .d_block,
            .g_block {
                margin-top: 2rem;
            }

            .center_block {
                width: 80%;

                .b_block,
                .c_block,
                .h_block,
                .i_block {
                    width: 100%;
                    margin-block: 2rem;
                    position: relative;

                    svg {
                        width: 100%;
                        height: fit-content;

                        rect {
                            fill: $blue;
                        }
                    }

                    h4 {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 2.4rem;
                    }
                }

                .h_block {
                    svg {
                        rect {
                            fill: #FFDA00;
                        }
                    }
                }

                .i_block {
                    svg {
                        rect {
                            fill: #FF6600;
                        }
                    }
                }

                @for $i from 1 through 14 {
                    .i_block #i#{$i} {
                        fill: #8E00C9;
                    }
                }

                @for $i from 32 through 35 {
                    .i_block #i#{$i} {
                        fill: #8E00C9;
                    }
                }

                .stage {
                    width: 100%;
                    border-bottom: 2px solid;
                    text-align: center;

                    .box {
                        width: 50%;
                        height: 50px;
                        line-height: 50px;
                        margin: auto;
                        border: 1px solid;
                    }
                }

                .seats {
                    width: 80%;
                    margin: 3rem auto 0;

                    svg {
                        width: 100%;
                        height: fit-content;
                    }
                }

                .category {
                    width: 90%;
                    margin: 1rem auto;
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.6rem;

                    span {
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        margin-right: 0.3rem;
                        display: inline-block;
                    }

                    .left,
                    .right {
                        div {
                            display: flex;
                            margin-bottom: 0.5rem;
                            white-space: nowrap;

                            &:first-child {
                                span {
                                    background-color: #33FF33;

                                }
                            }

                            &:nth-child(2) {
                                span {
                                    background-color: #99CCFF;

                                }
                            }

                            &:last-child {
                                span {
                                    background-color: #FF6600;

                                }
                            }
                        }
                    }

                    .right {
                        div {

                            &:first-child {
                                span {
                                    background-color: #FFDA00;

                                }
                            }

                            &:nth-child(2) {
                                span {
                                    background-color: #8E00C9;

                                }
                            }

                            &:last-child {
                                span {
                                    background-color: #FF99FF;

                                }
                            }
                        }
                    }
                }
            }

        }

        .gates {
            position: absolute;
            bottom: -5%;
            left: 50%;
            transform: translateX(-50%);
            width: 25%;
            height: 50px;
            display: flex;
            justify-content: space-between;

            .gate-1,
            .gate-2 {
                width: 40%;
                height: 50px;
                text-align: center;
                line-height: 50px;
                border: 1px solid #000000;
                font-weight: 700;
                font-size: 0.8rem;
            }

        }
    }

    .tooltip {
        position: absolute;
        // top: 0;
        // left: 0;
        z-index: 999;
        transform: rotate(90deg);
        background-color: #f8f9fa;
        color: black;
        min-width: 120px;
        padding: 0.5rem;
        font-size: 0.8rem;
        box-shadow: 0 0 8px 0 rgba($color: #000000, $alpha: 0.2);
    }

    .pointer {
        width: 10px;
        position: absolute;
        top: 0;
        left: 0;
        // transform: rotate(90deg);
        z-index: 999;

        svg {
            width: 100%;
            fill: red;
        }
    }

}